/*
DESIGN - Visual Design (We liked the column parameters in the example webkit css files, but not other things,
so we imported the column parameters into our own css file, and then found other specific styling parameters online.)
*/

.container {
    position:relative;
    width:100%;
    max-width:400px;
    margin:0 auto;
    padding:0 20px;
    box-sizing:border-box
}
.column,
.columns {
    width:100%;
    float:left;
    box-sizing:border-box
}
@media (min-width:400px) {
    .container {
        width:85%;
        padding:0
    }
}
@media (min-width:550px) {
    .container {
        width:80%
    }
    .column,
    .columns {
        margin-left:4%
    }
    .column:first-child,
    .columns:first-child {
        margin-left:0
    }
    .one.column,
    .one.columns {
        width:4.66666666667%
    }
    .two.columns {
        width:13.3333333333%
    }
/*
DESIGN - Typography (complementary serif and sans-serif fonts to establish a sense of history in the button texts (with
serif font options, and a sense of currency in the contemporary text syntax)
*/
font-family: 'Cormorant Garamond', serif;
font-family: 'Cormorant', serif;

font-family: 'Nunito Sans', sans-serif;
font-family: 'Barlow', sans-serif;

/*
DESIGN - Visual Design (See also note at top of js and html files: We intentionally maintain a grey
scale color scheme to replicate the color blindness of chameleons, and to give the different typography textures
more visual weight. We are, though, selectively changing some button and button text colors.)
*/
#bttnHappy{
    color: #555;
    background-color: white;

}
#bttnSad{
    color: white;
    background-color: #555;

}
#bttn{
    color: black;
    background-color: white;

}
.HappySadClass{
    font-family: 'Cormorant Garamond', serif, "Times New Roman";
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    background-color: transparent;
    top: 100px;
    height: 38px;
    width: 150px;
    padding: 0 30px;
    text-align: center;
    font-weight: 200;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    outline: 0;
    border: 1px solid #555;
    cursor: pointer;
    box-sizing: border-box;
}
.TellMeClass{
    font-family: 'Cormorant Garamond', serif, "Times New Roman";
    text-transform: capitalize;
    font-size: 18px;
    display: inline-block;
    height: 38px;
    padding: 0 30px;
    text-align: center;
    font-weight: 200;
    line-height: 38px;
    letter-spacing: .1rem;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    outline:0;
    border: 1px solid #bbb;
    cursor: pointer;
    box-sizing: border-box;
}


.poemClass{
    font-family: 'Barlow', 'Nunito Sans', sans-serif;

}